@tailwind base;
@tailwind components;
@tailwind utilities;


.banner {
    padding-top: 100px;
    padding-bottom: 60px;
    background-image: url('../images/books.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
